<%
  default_time_range ||= nil

  time_range_to_start_date = {
    '1w' => 7.days.ago.to_date,
    '2w' => 14.days.ago.to_date,
    '1m' => 30.days.ago.to_date,
    '3m' => 90.days.ago.to_date,
    '6m' => 180.days.ago.to_date,
    'YTD' => Date.current.beginning_of_year,
    '1y' => 1.year.ago.to_date,
    '2y' => 2.years.ago.to_date
  }

  default_start_date = time_range_to_start_date[default_time_range]
%>

<div class="benchmark-graph-wrapper">
  <h2><%= benchmark.gsub('_', ' ').titleize %></h2>

  <div class="benchmark-graph" id="<%= benchmark %>-graph" data-graph-benchmark="<%= benchmark %>" data-graph-default-start-time="<%= default_start_date.strftime('%Y-%m-%d') %>"></div>
  <div class="benchmark-graph-legend"></div>

  <ul class="benchmark-graph-time-range-picker">
    <% time_range_to_start_date.each do |time_range, start_date| %>
      <li><%= link_to time_range, benchmark_results_path(benchmark, :format => :json, :start_date => start_date), :data => { :"on-click-load-graph" => "##{benchmark}-graph", :"graph-start-time" => start_date.strftime('%Y-%m-%d') } %></li>
    <% end %>
  </ul>
</div>