<%
  default_time_range ||= nil

  time_range_to_start_date = {
    '1w'  =>    7.days.ago.to_date,
    '2w'  =>   14.days.ago.to_date,
    '1m'  =>   30.days.ago.to_date,
    '3m'  =>   90.days.ago.to_date,
    '6m'  =>  180.days.ago.to_date,
    'YTD' => Date.current.beginning_of_year,
    '1y'  =>    1.year.ago.to_date,
    '2y'  =>    2.years.ago.to_date
  }

  default_start_date = time_range_to_start_date[default_time_range]
  graph_id           = "#{benchmark}-graph"
  graph_selector     = "#" + graph_id
%>

<div class="benchmark-graph-wrapper">
  <h2><%= benchmark.gsub('_', ' ').titleize %></h2>

  <div class="benchmark-graph" id="<%= graph_id %>" data-graph-benchmark="<%= benchmark %>"></div>
  <div class="benchmark-graph-legend"></div>

  <ul class="benchmark-graph-time-range-picker">
    <% time_range_to_start_date.each do |time_range, start_date| %>
      <li><%= link_to time_range, benchmark_results_path(benchmark, :format => :json), :data => { :"on-click-load-graph" => graph_selector, :"graph-start-time" => start_date.strftime('%Y-%m-%d') } %></li>
    <% end %>
  </ul>
  <script>
    // inline the default results for faster page loads
    <% self.lookup_context.formats = [:json] %>
    <% @benchmark = RubyBenchmark.from_param(benchmark) %>
    <% @results = @benchmark.passing_results.select { |result| default_start_date.to_time.utc <= result.time } %>

    $(function () {
      var default_results =
        <%= TemplateRenderer.new(self.lookup_context).render(self, :file => 'results/index').html_safe %>;
      $("<%= graph_selector %>").drawBenchmarkGraphFromJSON(default_results);
    });

    <% self.lookup_context.formats = [:html] %>
  </script>
</div>
